.input__outer {
  display: inline-block;
  position: relative;
  padding: 0.5rem 0.25rem 1rem;
  width: min-content;
}
.input {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  padding: 0.4rem 0.5rem;
  box-shadow: 0 0 2px black;
}

.input::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 2px royalblue;
  opacity: 0;
  transition: 0.25s ease-in;
}
.input:focus-within::before {
  opacity: 1;
}

.legend {
  position: absolute;
  top: 0.6rem;
  left: 0.3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  line-height: 0.9;
  color: grey;
  background-color: white;
  padding: 0 3px;
  border-radius: 3px;
  pointer-events: none;
  transition: transform 0.25s ease;
}

.input:focus-within .legend,
.input__inner:not(:placeholder-shown) ~ .legend {
  transform: translateY(-1.1rem);
  pointer-events: all;
}

.input__inner {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}
.input__inner::placeholder {
  font-size: 90%;
  font-family: sans-serif;
  opacity: 0;
}
.input-error {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
}
.input-alert {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0.25rem;
  color: red;
  overflow: hidden;
  line-height: 2ch;
}
